<table border="1" class="dataframe static/css/styles.css">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SWE</th>
      <th>MPCP</th>
      <th>WPCP</th>
      <th>RES</th>
      <th>RESCAP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Columbia River Basin</th>
      <td>107</td>
      <td>93</td>
      <td>128</td>
      <td>118</td>
      <td>74</td>
    </tr>
    <tr>
      <th>Kootenai in Montana</th>
      <td>95</td>
      <td>108</td>
      <td>120</td>
      <td>112</td>
      <td>82</td>
    </tr>
    <tr>
      <th>Flathead in Montana</th>
      <td>122</td>
      <td>112</td>
      <td>137</td>
      <td>113</td>
      <td>88</td>
    </tr>
    <tr>
      <th>Upper Clark Fork</th>
      <td>112</td>
      <td>73</td>
      <td>126</td>
      <td>111</td>
      <td>71</td>
    </tr>
    <tr>
      <th>Bitterroot</th>
      <td>99</td>
      <td>78</td>
      <td>132</td>
      <td>155</td>
      <td>33</td>
    </tr>
    <tr>
      <th>Lower Clark Fork</th>
      <td>109</td>
      <td>97</td>
      <td>127</td>
      <td>102</td>
      <td>98</td>
    </tr>
    <tr>
      <th>Missouri River Basin</th>
      <td>114</td>
      <td>93</td>
      <td>119</td>
      <td>117</td>
      <td>61</td>
    </tr>
    <tr>
      <th>Jefferson</th>
      <td>88</td>
      <td>77</td>
      <td>94</td>
      <td>108</td>
      <td>44</td>
    </tr>
    <tr>
      <th>Madison</th>
      <td>81</td>
      <td>90</td>
      <td>90</td>
      <td>107</td>
      <td>82</td>
    </tr>
    <tr>
      <th>Gallatin</th>
      <td>81</td>
      <td>64</td>
      <td>98</td>
      <td>109</td>
      <td>53</td>
    </tr>
    <tr>
      <th>Headwaters Mainstem</th>
      <td>122</td>
      <td>76</td>
      <td>137</td>
      <td>114</td>
      <td>82</td>
    </tr>
    <tr>
      <th>Smith-Judith-Musselshell</th>
      <td>119</td>
      <td>69</td>
      <td>110</td>
      <td>165</td>
      <td>71</td>
    </tr>
    <tr>
      <th>Sun-Teton-Marias</th>
      <td>173</td>
      <td>131</td>
      <td>169</td>
      <td>109</td>
      <td>57</td>
    </tr>
    <tr>
      <th>St. Mary-Milk</th>
      <td>139</td>
      <td>144</td>
      <td>139</td>
      <td>108</td>
      <td>43</td>
    </tr>
    <tr>
      <th>Yellowstone River Basin</th>
      <td>93</td>
      <td>57</td>
      <td>101</td>
      <td>121</td>
      <td>61</td>
    </tr>
    <tr>
      <th>Upper Yellowstone</th>
      <td>119</td>
      <td>83</td>
      <td>132</td>
      <td>113</td>
      <td>63</td>
    </tr>
    <tr>
      <th>Bighorn</th>
      <td>98</td>
      <td>67</td>
      <td>100</td>
      <td>103</td>
      <td>71</td>
    </tr>
    <tr>
      <th>Tongue</th>
      <td>85</td>
      <td>39</td>
      <td>98</td>
      <td>147</td>
      <td>49</td>
    </tr>
    <tr>
      <th>Powder</th>
      <td>70</td>
      <td>39</td>
      <td>76</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>Montana State-Wide</th>
      <td>105</td>
      <td>81</td>
      <td>116</td>
      <td>118</td>
      <td>65</td>
    </tr>
  </tbody>
</table>